# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `.title()`, `.upper()`

* `.capitalize()` : 앞글자를 대문자로 만들어 반환한다.

* `.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환한다.

* `.upper()` : 모두 대문자로 만들어 반환한다.

In [2]:
a = 'hI! Everyone, I\'m kim'

# 아래에 코드를 작성하세요.

In [7]:
a.capitalize()
a.title()
a.upper()

"HI! EVERYONE, I'M KIM"

### `.lower()`, `.swapcase()`

* `lower()` : 모두 소문자로 만들어 반환한다.

* `swapcase()` : 대 <-> 소문자로 변경하여 반환한다.

In [8]:
a = 'hI! Everyone, I\'m kim'

# 아래에 코드를 작성하세요.

In [10]:
a.lower()
a.swapcase()

"Hi! eVERYONE, i'M KIM"

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

Iterable 을 해당 문자열을 separator 로 합쳐서 문자열로 반환합니다.

> `iterable`
>
> 각각의 요소를 하나씩 반환할 수 있는 객체를 말한다. List와 Tuple, Dictionary와 Set 등이 여기에 속한다.

In [11]:
word = '배고파'
words = ['안녕', 'hello']
    
# 아래에 코드를 작성하세요.

In [12]:
'!'.join(word)

'배!고!파'

In [14]:
' '.join(words)

'안녕 hello'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [15]:
'yay!'.replace('a','_')

'y_y!'

In [16]:
'wooooowooooo'.replace('o','',2)

'wooowooooo'

### `.strip([chars])`

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip), 오른쪽을 제거합니다(rstrip).

지정하지 않으면 공백을 제거합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [17]:
'      oh!\n'.strip()

'oh!'

In [18]:
'      oh!\n'.lstrip()

'oh!\n'

In [19]:
'hehehehihihihi'.rstrip('hi')

'hehehe'

## 탐색 및 검증

### `.find(x)` 

x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [24]:
'apple'.find('p')

1

In [25]:
'apple'.find('f')

-1

### `.index(x)`

x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [22]:
'apple'.index('p')

1

In [23]:
'apple'.index('f')

ValueError: substring not found

## `.split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [ ]:
# 아래에 코드를 작성하세요.

In [43]:
'a_b_c'.split('_')

['a', 'b', 'c']

In [44]:
del input

In [54]:
inputs = input().split()
inputs

123

['123']

In [57]:
# inputs = input().split('') 이 안먹네?
inputs = list(input())
# inputs = ' '.join(input()).split() 2번째 방법
inputs

1234

['1', '2', '3', '4']

## 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isupper(), .istitle(), .islower()
```

In [58]:
# 다음 명령어로 문자열 메소드를 확인할 수 있습니다.
dir('any string')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [59]:
# 카페 리스트를 만들어봅시다.
cafe = ['starbucks', 'tomntoms', 'hollys']

In [ ]:
# 값을 추가해봅시다.

In [62]:
cafe.append('ediya') # append는 리턴 값이 없음. 반환하는 값이 없어 아웃이 없다.
cafe

['starbucks', 'tomntoms', 'hollys', '이디야', 'ediya', 'ediya']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [ ]:
# 앞서 만든 리스트에 추가해봅시다.

In [64]:
cafe.extend(['twosomeplace','빽다방'])
cafe

['starbucks',
 'tomntoms',
 'hollys',
 '이디야',
 'ediya',
 'ediya',
 'twosomeplace',
 '빽다방',
 'twosomeplace',
 '빽다방']

In [ ]:
# 앞서 배운 list concatenate와 동일합니다.

In [65]:
cafe += ['mccafe','burgerking']
cafe

['starbucks',
 'tomntoms',
 'hollys',
 '이디야',
 'ediya',
 'ediya',
 'twosomeplace',
 '빽다방',
 'twosomeplace',
 '빽다방',
 'mccafe',
 'burgerking']

In [ ]:
# append와 비교해봅시다.

In [67]:
cafe.append(['coffeenie'])
cafe

['starbucks',
 'tomntoms',
 'hollys',
 '이디야',
 'ediya',
 'ediya',
 'twosomeplace',
 '빽다방',
 'twosomeplace',
 '빽다방',
 'mccafe',
 'burgerking',
 ['coffeenie'],
 ['coffeenie']]

### `.insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [ ]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.

In [69]:
cafe

['hi',
 'starbucks',
 'tomntoms',
 'hollys',
 '이디야',
 'ediya',
 'ediya',
 'twosomeplace',
 '빽다방',
 'twosomeplace',
 '빽다방',
 'mccafe',
 'burgerking',
 ['coffeenie'],
 ['coffeenie']]

In [68]:
cafe.insert(0,'hi')

In [ ]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다

In [71]:
# cafe.insert(-1,'bye') -1번째 앞에 위치하게된다.
cafe.insert(len(cafe),'bye')
cafe

['hi',
 'starbucks',
 'tomntoms',
 'hollys',
 '이디야',
 'ediya',
 'ediya',
 'twosomeplace',
 '빽다방',
 'twosomeplace',
 '빽다방',
 'mccafe',
 'burgerking',
 ['coffeenie'],
 'bye',
 ['coffeenie'],
 'bye']

In [ ]:
# 리스트의 길이를 넘어서는 인덱스는 마지막에 아이템이 추가됩니다.

In [72]:
cafe.insert(100000,'bye')
cafe

['hi',
 'starbucks',
 'tomntoms',
 'hollys',
 '이디야',
 'ediya',
 'ediya',
 'twosomeplace',
 '빽다방',
 'twosomeplace',
 '빽다방',
 'mccafe',
 'burgerking',
 ['coffeenie'],
 'bye',
 ['coffeenie'],
 'bye',
 'bye']

### `.remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [73]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]

In [ ]:
# 중복된 값 1을 삭제 해봅시다.

In [74]:
numbers.remove(1) # 처음 만나는 1을 한 번만 삭제
numbers

[2, 3, 1, 2]

In [ ]:
# 한번 더 삭제해봅시다.

In [75]:
numbers.remove(1)
numbers

[2, 3, 2]

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.

In [76]:
numbers.remove(1)
numbers

ValueError: list.remove(x): x not in list

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [82]:
# pop을 사용해봅시다.
a = [1, 2, 3, 4, 5, 6]

In [9]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.

In [84]:
print(a.pop(0))
a

1

[2, 3, 4, 5]

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.

In [86]:
print(a)
popped_value = a.pop()
print(f'{popped_value}가 튀어나가고, a에는 {a}가 남았습니다.')

[2, 3, 4]
4가 튀어나가고, a에는 [2, 3]가 남았습니다.

In [87]:
print(a)
appended_value = a.append(4) # 반환값은 없고, 다만 a가 변한다
print(f'{appended_value}가 추가되고, a에는 {a}가 남았습니다')

[2, 3]
None가 추가되고, a에는 [2, 3, 4]가 남았습니다

### `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.

In [88]:
a.clear()
a

[]

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [89]:
# index를 사용해봅시다.
a = [1, 2, 3, 4, 5]

In [90]:
a.index(3)

2

In [91]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)
a.index(6)

ValueError: 6 is not in list

### `.count(x)`

원하는 값의 개수를 확인할 수 있습니다.

In [92]:
# count를 사용해봅시다.
a = [1, 2, 5, 1, 5, 1]

In [93]:
a.count(1)

3

In [ ]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.

In [100]:
# remove , count를 써서, a에 들어있는 1을 모두 삭제해 주세요!
for i in range(a.count(1)):
    a.remove(1)

In [ ]:
# 모두 삭제되었는지 검증해봅시다.

In [101]:
a

[2, 5, 5]

In [102]:
1 in a

False

### `.sort()`

정렬을 합니다. 

내장함수 `sorted()` 와는 다르게 **원본 list를 변형**시키고, **None**을 리턴합니다.

In [109]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[39, 32, 7, 35, 31, 24]

In [108]:
# sort() 를 사용해봅시다.
lotto.sort() # 원본자체를 변형
lotto

[3, 13, 31, 32, 35, 42]

In [111]:
print(sorted(lotto)) # 원본은 그대로
lotto

[7, 24, 31, 32, 35, 39]

[39, 32, 7, 35, 31, 24]

### `.reverse()`

반대로 뒤집습니다. **(정렬 아님)**

In [105]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [106]:
classroom.reverse()
classroom

['Justin', 'David', 'Tom']

## 복사

In [113]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [114]:
copy_list = original_list
copy_list

[1, 2, 3]

In [ ]:
# copy_list의 값을 바꾸고 original_list를 출력해봅시다.

In [115]:
copy_list.reverse()
print(copy_list)
print(original_list)
# 같은 리스트를 가리키고 있기 때문에 둘 다 바뀐다.

[3, 2, 1]
[3, 2, 1]

In [ ]:
# id 값을 확안해봅시다.

In [116]:
print(id(original_list))
print(id(copy_list))

1878460974984
1878460974984

In [ ]:
# 숫자를 확인해봅시다.

In [117]:
first = 200
second = first
print(first, second)
second = 300
print(first, second)

200 200
200 300

In [ ]:
# 딕셔너리도 확인해봅시다.

In [118]:
lunch = {'김밥천국':'치즈라면', '할매순대국':'순대국'}
dinner = lunch
dinner['김밥천국'] = '참치김밥'
print(dinner)
print(lunch)

{'김밥천국': '참치김밥', '할매순대국': '순대국'}
{'김밥천국': '참치김밥', '할매순대국': '순대국'}

### copy
> 위 코드를 [pythontutor](http://pythontutor.com/) 를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 **객체의 주소**를 가지고 있을 뿐이다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 `[1, 2, 3]` 이라는 객체를 생성하고, 변수에는 객체의 주소가 저장된다.

* 기본형(primitive)과 참조형(reference)은 서로 다르게 동작한다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야합니다.

In [ ]:
# 리스트를 복사해봅시다.

In [119]:
a = [1,2,3]
b = a[:] # b에 a를 복사(슬라이싱)
b[0] = 5
print(a)
print(b)

[1, 2, 3]
[5, 2, 3]

In [ ]:
# 다른 방법으로 복사해봅시다.

In [120]:
a = [1,2,3]
b = list(a)
b[0] = 5
print(a)
print(b)

[1, 2, 3]
[5, 2, 3]

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 `다른 얕은 복사(shallow copy)`이다.

In [ ]:
# 2차원 배열을 복사해봅시다.

In [121]:
a = [1, 2, [1, 2]]
b = a[:]
b[2][0] = 5
print(a)
print(b)

[1, 2, [5, 2]]
[1, 2, [5, 2]]

* 만일 중첩된 상황에서 복사를 하고 싶다면, `깊은 복사(deep copy)`를 해야한다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경된다.

In [ ]:
# 깊은 복사를 사용해봅시다.

In [122]:
import copy

a = [1, 2, [1, 2]]
b = copy.deepcopy(a)

b[2][0] = 5
print(a)
print(b)

[1, 2, [1, 2]]
[1, 2, [5, 2]]

## List Comprehension

List Comprehension은 리스트안에 식, for 문을 지정합니다.
여러 줄의 코드를 한 줄로 줄일 수 있습니다.

---

**활용법**

```python
[식 for 변수 in iterable]

list(식 for 변수 in iterable)
```

### 세제곱 리스트

> 다음의 리스트를 작성하세요.
- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [123]:
a = range(1, 11)

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [125]:
cubic_list = []
for i in a:
    cubic_list.append(i**3)
cubic_list

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# List Comprehension

In [126]:
cubic_list = [x**3 for x in a]
cubic_list

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## List Comprehension + 조건문

조건문에 참인 식으로 리스트를 생성합니다.

---

**활용법**

```python
[식 for 변수 in iterable if 조건식]

[식 if 조건식 else 식 for 변수 in iterable]

# elif 는 다음과 같이 사용해야 합니다. (if else 열거)
[식 if 조건식 else 식 if 조건식 else 식 if ... else ... for 변수 in iterable]
```

### 짝수리스트
> 다음의 리스트를 작성하세요.

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [127]:
even_list = []
for i in range(1,11):
    if i % 2 == 0:
        even_list.append(i)
even_list

[2, 4, 6, 8, 10]

In [ ]:
# List Comprehension

In [128]:
even_list = [x for x in range(1,11) if x%2==0] # x가 if조건에 맞을 경우에만 for문에 들어감
even_list

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 작성하세요.
1. 반복문 활용
2. list comprehension 활용

```python
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
```

---

```
예시 출력)    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [129]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [ ]:
# 반복문을 활용하여 작성하세요.

In [130]:
pairs = []
for boy in boys:
    for girl in girls:
        pairs.append((boy,girl)) # 튜블로 만들어주기위해 묶음
pairs

[('justin', 'jane'),
 ('justin', 'iu'),
 ('justin', 'mary'),
 ('david', 'jane'),
 ('david', 'iu'),
 ('david', 'mary'),
 ('kim', 'jane'),
 ('kim', 'iu'),
 ('kim', 'mary')]

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [132]:
pairs = [(boy,girl) for boy in boys for girl in girls]
pairs

[('justin', 'jane'),
 ('justin', 'iu'),
 ('justin', 'mary'),
 ('david', 'jane'),
 ('david', 'iu'),
 ('david', 'mary'),
 ('kim', 'jane'),
 ('kim', 'iu'),
 ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾으세요.
1. 반복문 활용
2. list comprehension 활용

---

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 작성하세요.

In [133]:
results = []
for x in range(1,50):
    for y in range(x+1,50):
        for z in range(y+1,50):
            if x**2 + y**2 == z**2:
                results.append((x,y,z))
results

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (12, 16, 20),
 (12, 35, 37),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (18, 24, 30),
 (20, 21, 29),
 (21, 28, 35),
 (24, 32, 40),
 (27, 36, 45)]

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [135]:
results = [(x,y,z) for x in range(1,50) for y in range(x+1,50) for z in range(y+1,50) if x**2 + y**2 == z**2]
results

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (12, 16, 20),
 (12, 35, 37),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (18, 24, 30),
 (20, 21, 29),
 (21, 28, 35),
 (24, 32, 40),
 (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하세요.

```python
words = 'Life is too short, you need python!'
```

---

```
예시 출력)
Lf s t shrt, y nd pythn!
```

In [137]:
words = 'Life is too short, you need python!'

In [ ]:
# 반복문을 활용하여 작성하세요.

In [138]:
results = []
vowels = 'aeiou'
for word in words:
    if word not in vowels:
        results.append(word)
''.join(results)

'Lf s t shrt, y nd pythn!'

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [140]:
vowels = 'aeiou'
results = [word for word in words if word not in vowels]
''.join(results)

'Lf s t shrt, y nd pythn!'

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [143]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [144]:
my_dict.pop('apple')
my_dict

{'banana': '바나나'}

In [ ]:
# 딕셔너리에 없으면 에러가 발생합니다.

In [145]:
my_dict.pop('melon')

KeyError: 'melon'

In [ ]:
# 두번째 인자로 default를 설정할 수 있습니다.

In [146]:
my_dict.pop('melon','멜론')

'멜론'

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [147]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

In [150]:
my_dict.update(사과='사과아', apple = 'apple')
# my_dict['사과'] = '사과아'
my_dict

{'apple': 'apple', 'banana': '바나나', 'melon': '멜론', '사과': '사과아'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [151]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['pineapple']

KeyError: 'pineapple'

In [155]:
my_dict.get('pineapple', '파인애플')

'파인애플'

## Dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다. 

---

**활용법**

```python
{키: 값 for 키, 값 in 딕셔너리}

dict({키: 값 for 키, 값 in 딕셔너리})

{키: 값 for 키, 값 in 딕셔너리 if 조건식}

{키: 값 if 조건식 else 값 for 키, 값 in 딕셔너리}

```

In [ ]:
# dictionary comprehension

In [156]:
cubic = {x:x**3 for x in range(1,5)}
cubic

{1: 1, 2: 8, 3: 27, 4: 64}

### Dictionary comprehension 사용해보기

In [157]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [ ]:
# 미세먼지 농도가 80 초과 지역만 뽑아주세요.
# 예) {'대전': 82, '중국': 200}

In [158]:
{key:value for key, value in dusts.items() if value > 80}

{'대전': 82, '중국': 200}

In [ ]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꾸세요.

In [162]:
{key:'나쁨' if value > 80 else '보통' for key,value in dusts.items()}

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [ ]:
# elif 도 사용할 수 있습니다. (if else 열거)

In [165]:
{key: '매우나쁨' if value>150 else '나쁨' if value>80 else '보통' if value>30 else '좋음' for key,value in dusts.items()}

{'서울': '보통', '대전': '나쁨', '구미': '좋음', '광주': '보통', '중국': '매우나쁨'}

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [166]:
# add를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [168]:
a.add('포도')
a.add('포도')
a

{'바나나', '사과', '수박', '포도'}

### `.update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [169]:
# update를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [173]:
a.update({'포도', '딸기', '참외', '메론'},['수박', '귤'])
a.update('토마토')
a

{'귤', '딸기', '마', '메론', '바나나', '사과', '수박', '참외', '토', '포도'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [176]:
# remove를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [177]:
a.remove('사과')
a

{'바나나', '수박'}

### `.discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [178]:
# discard를 사용해봅시다.
a = {'사과', '바나나', '수박'}

In [179]:
a.discard('사과')
a.discard('사과')
a

{'바나나', '수박'}

### `.pop()`

**임의의 원소**를 제거해 반환합니다.

In [180]:
# pop을 사용해봅시다.
a = {'사과', '바나나', '수박', '아보카도'}

In [182]:
a.pop()
a

{'수박', '아보카도'}

#  `map()`, `zip()`, `filter()`

## `map(function, iterable)`

* Iterable의 모든 요소에 function을 적용한 후 그 결과를 돌려준다. 


* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range


* return은 `map_object` 형태이다.

In [187]:
numbers = [1, 2, 3]

# 위의 코드를 문자열 '123'으로 만드세요

In [ ]:
# list comprehension

In [188]:
[str(n) for n in numbers]

['1', '2', '3']

In [189]:
''.join([str(n) for n in numbers])

'123'

In [ ]:
# map

In [191]:
list(map(str, numbers))
''.join(map(str,numbers))

'123'

In [193]:
numbers = ['1', '2', '3']

# 위의 코드를 숫자 '123'으로 만드세요

In [ ]:
# list comprehension

In [194]:
[int(n) for n in numbers]

[1, 2, 3]

In [ ]:
# map
int(3)
int

In [196]:
list(map(int, numbers))

[1, 2, 3]

첫번째 인자 function은 사용자 정의 함수도 가능합니다.

In [197]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

In [199]:
numbers = [1,2,3]
list(map(cube, numbers))

[1, 8, 27]

## `zip(*iterables)` 

* 복수의 iterable 객체를 모아준다.


* 결과는 튜플의 모음으로 구성된 `zip object` 를 반환한다.

In [26]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [200]:
list(zip(girls, boys))

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [ ]:
# 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [ ]:
# dictionary comprehension

In [201]:
{girl:boy for girl in girls for boy in boys} # 원하는대로 안나와 ㅠㅠ

{'jane': 'kim', 'iu': 'kim', 'mary': 'kim'}

In [ ]:
# zip

In [202]:
{girl:boy for girl, boy in zip(girls,boys)}

{'jane': 'justin', 'iu': 'david', 'mary': 'kim'}

In [ ]:
# 다른 예시도 알아봅시다.

In [203]:
first = '123'
second = '456'
for f,s in zip(first,second):
    print(f,s)

1 4
2 5
3 6

* zip은 반드시 길이가 같을 때 사용해야한다. 다르다면 가장 짧은 것을 기준으로 구성한다.

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다

## `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 `True` 인 것들만 구성하여 반환한다.


* `filter object` 를 반환한다.

In [25]:
# 홀수인지 판단하는 코드를 작성하세요.

In [204]:
def isodd(n): # is~ 로 시작하는 함수는 보통 True or False를 반환합니다.
    return n % 2

numbers = [1,2,3,4,5]
list(filter(isodd,numbers))

[1, 3, 5]

In [ ]:
# 다음의 list comprehension과 동일하다.